@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes staggerFade {
    0% {
        opacity: 0;
        transform: translateY(-15px) scale(0.98);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.stagger-item {
    opacity: 0;
    animation: staggerFade 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.architectural-grid {
    background-color: #0c0c0e;
    /* สีดำเข้มพรีเมียม */
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 40px 40px;
    /* ขนาดความกว้างของช่องตาราง (ปรับตัวเลขนี้ได้ตามชอบ) */
}


.animate-modal-pop {
    animation: modal-pop 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes burst-lines {
    0% {
        transform: scale(0.3);
        /* เริ่มจากจุดเล็กๆ */
        opacity: 1;
        /* เข้มเต็มที่ */
    }

    100% {
        transform: scale(1.4);
        /* ขยายใหญ่พุ่งออกไป */
        opacity: 0;
        /* จางหายไป */
    }
}

.animate-burst {
    animation: burst-lines 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes spin-border {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.animate-spin-border {

    animation: spin-border 1.5s linear infinite;
}